<div class="row" >
    <div class="nav-side-menu pull-left">
      <div class="brand">RESTAURENT</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
              <ul id="menu-content" class="menu-content collapse out">
                  <li *ngFor="let catg of cg" (click)="getProductsByCategoryGroup(catg.groupId)"  data-toggle="collapse" data-target="#products"
                       class="collapsed active">
                    <span class="menus">{{catg.groupName}}</span>
                    <ul class="sub-menu text-center">
                      <li *ngFor="let cat of catg.categories" class="active" (click)="getProductsByCategoryGroupAndCategory(catg.groupId,ct.value);$event.stopPropagation();" #ct value="{{cat.categoryId}}">
                        {{cat.categoryName}}
                    </li>
                    </ul>
                  </li>
              </ul>
       </div>
    </div>
</div>