
              <div class="wrapper">
                      <form class="form-signin" #form="ngForm" (ngSubmit)="login(form)">
                        <h2 class="text-center">Login Page</h2>
                        <hr>
                        <label>Username : </label><input class="form-control" type="text" ngModel name="userid" >
                        <br>
                        <label>Password : </label><input class="form-control" type="password" ngModel name="password">
                         <button type="submit"  class="btn btn-lg btn-success btn-block" >Login</button>
                      </form>
              </div>