<div class="index-content">
                <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let p of products" style="margin-bottom:1em;">
                    <div class="card">
                        <a (click)="goToDescriptionPage(p.id)"><img src="{{p.imageUrl}}"></a>
                        <table class="table table-condensed ">
                            <tr class="success">
                                <td class="text-left"><strong>{{p.name}}</strong></td>
                                <td class="text-right"><strong>{{p.price}}</strong></td>
                            </tr>
                        </table>
                         <button style="margin-top:-1.5em" class="btn btn-success btn-block" (click)="addToCart(p)">Add to Cart</button>
                    </div>
                </div>
